.about-us {
  padding-top: 150px;
}

.about-us__description {
  margin-bottom: 30px;
  width: 100%;
  font-size: 45px;
  line-height: normal;

}

@media (max-width: 961px) {

  .about-us__description {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .about-us__description {
    font-size: 22px;
    padding-right: 2%;
  }
}
