.about-us__description {
  margin-bottom: 30px;
  width: 1048px;
  font-size: 45px;
  line-height: normal;

}

@media (max-width: 1199px) {

  .about-us__description {
    width: 690px;
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .about-us__description {
    width: 346px;
    font-size: 22px;
    padding-right: 2%;
  }
}
