.contacts__text-wrapper {
  margin-top: 74px;
  margin-bottom: 150px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 104px;
}

.contacts__tel {
  margin-bottom: 30px;
  position: relative;
}

.contacts__tel-link {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.contacts__tel-link:hover {
  text-decoration: 2px underline;
  text-underline-offset: 10px;
  opacity: 0.5;
  color: rgba(0, 0, 0, 0, 5);
}

.contacts__email {
  position: relative;
}

.contacts__tel:before,
.contacts__email:before {
  content: "";
  position: absolute;
  display: block;
  top: -45px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__tel:before {
  background-image: url(../resources/iphone-icon.png);
}

.contacts__email:before {
  background-image: url(../resources/mail-icon.png);
}

.contacts__email-link {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.contacts__email:hover {
  text-decoration: 2px underline;
  text-underline-offset: 10px;
  opacity: 0.5;
  color: #000000;
}

@media (max-width: 1199px) {
  .contacts__tel-link,
  .contacts__email-link {
    font-size: 45px;
  }

  .contacts__text-wrapper {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .contacts__title {
    font-size: 14px;
  }

  .contacts__text-wrapper {
    margin-top: 58px;
    flex-direction: column;
    gap: 58px;
  }

  .contacts__tel-link,
  .contacts__email-link {
    font-size: 35px;
    line-height: 45px;
  }
}
