.footer {
  padding-top: 60px;
  height: 230px;
  min-width: 1400px;
  background-color: #121212;
  background-size: 100%;
}

.footer-nav {
  margin: auto;
  width: 450px;
}

.footer-nav__link {
  margin-right: 50px;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
}

.footer-nav__link:hover {
  opacity: 0.5;
}

.footer-nav__link:last-child {
  margin-right: 0;
}

.footer-text {
  padding-top: 87px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
  font-size: 20px;
  line-height: 27px;
}

@media (max-width: 1199px) {
}

@media (max-width: 767px) {
}
