.gallery {
  position: relative;
}

.gallery__slides {
  position: relative;
  height: 717px;
}

.gallery__slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.gallery__slide_active {
  opacity: 1;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery__controls {
  position: absolute;
  bottom: 152px;
  display: flex;
}

.gallery__control-prev,
.gallery__control-next {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
}

.gallery__control-prev {
  background-image: url(../resources/baseline-arrow-prev.png);
}

.gallery__control-next {
  background-image: url(../resources/baseline-arrow-next.png);
}

.gallery-title {
  position: absolute;
  top: 60px;
  font-size: 22px;
  color: #fff;
  z-index: 1;
}

.gallery__control-next:hover,
.gallery__control-prev:hover {
  opacity: 0.5;
}

.gallery__text {
  position: absolute;
  top: 574px;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .gallery__slides {
    height: 536px;
  }

  .gallery-title {
    top: 80px;
    left: 50px;
    font-size: 20px;
  }

  .gallery__controls {
    left: 41px;
    bottom: 152px;
  }

  .gallery__text {
    left: 50px;
    top: 388px;
    font-size: 25px;
    line-height: normal;
  }
}

@media (max-width: 767px) {
  .gallery__slides {
    height: 408px;
  }

  .gallery-title {
    top: 61px;
    left: 12px;
    font-size: 14px;
  }

  .gallery__controls {
    top: 189px;
    left: 7px;
    right: 5px;
    justify-content: space-between;
  }

  .gallery__text {
    top: 296px;
    left: 12px;
    font-size: 19px;
  }
}
