header {
  display: block;
  padding: 15px 0;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 127px;
  height: 22px;
}

.nav {
  display: flex;
  gap: 60px;
}

.nav-link {
  font-size: 18px;
  line-height: 25px;
  color: #121212;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  opacity: 0.5;
  color: #000000;
}

@media (max-width: 1199px) {
  .nav {
    display: none;
  }
}


@media (max-width: 767px) {
  header {
    padding: 10px 0;
  }

  .logo {
    width: 96px;
    height: 16px;
  }
}


