@import url(../styles/header.css);
@import url(../styles/intro.css);
@import url(../styles/about-us.css);
@import url(../styles/projects.css);
@import url(../styles/services.css);
@import url(../styles/gallery.css);
@import url(../styles/contacts.css);
@import url(../styles/footer.css);
@import url(../styles/reviews.css);

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-style: normal;
}

.main {
  margin: 0 auto;
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 1150px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 85px;
}

.col {
  width: calc(50% - 5px);
}

.intro,
.about-us,
.projects,
.services,
.contacts {
  margin-bottom: 150px;
}

.about-us__title,
.projects__title,
.services__title,
.contacts__title,
.reviews__title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

h1,
h2,
h3,
a,
p,
div {
  letter-spacing: -0.03em;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 17px;
  }

  .row {
    row-gap: 80px;
  }

  .intro,
  .about-us,
  .services,
  .contacts {
    margin-bottom: 120px;
  }

  .projects {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding-left: 13px;
    padding-right: 12px;
  }

  .row {
    flex-direction: column;
    row-gap: 60px;
  }

  .col {
    width: 100%;
  }

  .about-us__title,
  .projects__title,
  .services__title,
  .contacts__title,
  .reviews__title {
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: -0.48px;
  }

  .intro,
  .projects,
  .services,
  .contacts {
    margin-bottom: 80px;
  }

  .about-us {
    margin-bottom: 54px;
  }
}
@media (max-width: 400px) {
  .intro__backround {
    background-image: url(../resources/interior_mobile.png);
  }
}
