.project__title {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 41px;
}

.project {
  margin-bottom: 90px;
}

.project__image {
  margin-bottom: 15px;
  display: block;
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

.project__link {
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .project {
    margin-bottom: 80px;
  }

  .project-last {
    margin-bottom: 102px;
  }

  .project__title {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: normal;
  }

  .project__image {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
  .project {
    margin-bottom: 49px;
  }

  .project__image {
    margin-bottom: 20px;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .project__title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .project__link {
    font-size: 16px;
    line-height: normal;
  }

  .project-last {
    margin-bottom: 60px;
  }
}
