.reviews-list {
  margin-bottom: 117px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 80px;
}

.reviews-list__title {
  margin-bottom: 14px;
  font-size: 45px;
}

.review {
  width: calc(50% - 5px);
}

.review:last-child:nth-child(2n + 1) {
  width: 75%;
}

.review__text {
  font-size: 22px;
  line-height: normal;
}

@media (max-width: 961px) {
  .reviews-list__title {
    margin-bottom: 25px;
    font-size: 35px;
  }

  .review {
    width: calc(50% - 5px);
  }

  .review__text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .reviews__title {
    margin-bottom: 22px;
    font-size: 14px;
  }

  .review {
    width: 100%;
    flex-direction: column;
    row-gap: 80px;
  }

  .review:last-child:nth-child(2n + 1) {
    width: 100%;
  }

  .reviews-list__title {
    margin-bottom: 10px;
    font-size: 25px;
  }

  .review__text {
    height: auto;
    font-size: 16px;
  }
}
