.reviews-list {
  margin-bottom: 117px;
}

.reviews-list__title {
  margin-bottom: 14px;
  font-size: 45px;
}

.review__text {
  width: 530px;
  height: 390px;
  font-size: 22px;
  line-height: 30px;
}

.reviev-text_last {
  width: 835px;
  height: 300px;
}

@media (max-width: 1199px) {
  .reviews-list__title {
    margin-bottom: 25px;
    font-size: 35px;
  }

  .review__text {
    width: 100%;
    font-size: 20px;
    line-height: normal;
  }

  .last {
    width: 694px;
  }
}

@media (max-width: 767px) {
  .reviews__title {
    margin-bottom: 22px;
    font-size: 14px;
  }

  .reviews-list__title {
    margin-bottom: 10px;
    font-size: 25px;
  }

  .review__text {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: normal;
  }

  .reviev-text_last {
    width: 349px;
  }
}
