.service__title {
  margin-top: 13px;
  color: #ffffff;
  font-style: normal;
  font-size: 30px;
  line-height: 41px;
}

.services {
  background-color: #121212;
  width: 100%;
}

.services__title {
  margin-bottom: 30px;
  padding-top: 150px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
}

.service-list_wrapper {
  padding-bottom: 150px;
  background-color: #121212;
}

.service-list {
  margin-bottom: 80px;
  background-color: #121212;
}

.service {
  position: relative;
}

.service__image {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.service__text {
  padding: 5px 20px;
  position: absolute;
  left: 30px;
  top: 31px;
  font-size: 22px;
  line-height: normal;
  color: #fff;
  letter-spacing: -0.66px;
  border-radius: 5px;
  background: #ad1818;
}

.service__title {
  margin-top: 25px;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

.service_btn {
  color: #f5f5f5;
  background-color: #ad1818;
}

@media (max-width: 1199px) {
  .service__text {
    padding: 7px 27px;
    left: 32px;
    top: 31px;
    font-size: 20px;
    letter-spacing: -0.6px;
  }

  .service__title {
    margin-top: 15px;
    font-size: 25px;
    letter-spacing: -0.75px;
  }
}

@media (max-width: 767px) {
  .service-list {
    margin-bottom: 60px;
  }

  .service__text {
    padding: 6px 24px;
    left: 24px;
    top: 23px;
    font-size: 14px;
    letter-spacing: -0.42px;
  }

  .service__title {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: -0.54px;
  }

  .service {
    width: 100%;
  }

  .services_btn {
    padding-top: 35px;
    height: 100px;
    border-radius: 4px;
    font-size: 22px;
    letter-spacing: -0.66px;
  }
}
