.services {
  padding: 150px 0 150px 0;
  background-color: #121212;
  width: 100%;
}

.services__title {
  color: #ffffff;
}

.service-list {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 85px;
}

.service {
  position: relative;
  width: calc(50% - 5px);
}

.service__image {
  width: 100%;
}

.service__text {
  padding: 5px 20px;
  position: absolute;
  left: 30px;
  top: 31px;
  font-size: 22px;
  color: #fff;
  border-radius: 5px;
  background: #ad1818;
}

.service__title {
  margin-top: 25px;
  font-size: 30px;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .services {
    padding: 120px 0 120px 0;
  }

  .service-list {
    row-gap: 80px;
  }

  .service__text {
    padding: 7px 27px;
    left: 32px;
    top: 31px;
    font-size: 20px;
  }

  .service__title {
    margin-top: 15px;
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .services {
    padding: 80px 0 80px 0;
  }

  .service-list {
    margin-bottom: 60px;
    flex-direction: column;
    row-gap: 60px;
  }

  .service__text {
    padding: 6px 24px;
    left: 24px;
    top: 23px;
    font-size: 14px;
  }

  .service__title {
    margin-top: 10px;
    font-size: 18px;
  }

  .service {
    width: 100%;
  }
}
