.service__title {
  margin-top: 13px;
  color: #ffffff;
  font-style: normal;
  font-size: 30px;
  line-height: 41px;
}

.services {
  background-color: #121212;
  width: 100%;
}

.services-title {
  margin-bottom: 30px;
  padding-top: 150px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
}

.service-list_wrapper {
  padding-bottom: 80px;
  background-color: #121212;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 85px;
  background-color: #121212;
}

.service {
  position: relative;
  width: calc(50% - 5px);
}

.service:last-child {
  padding-bottom: 150px;
}

.service__image {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.service__text {
  padding: 5px 20px;
  position: absolute;
  left: 30px;
  top: 31px;
  font-size: 22px;
  line-height: normal;
  color: #fff;
  letter-spacing: -0.66px;
  border-radius: 5px;
  background: #ad1818;
}

.service__title {
  margin-top: 25px;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}
