html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.main {
  margin: 0 auto;
  padding-top: 33px;
  background-color: #ffffff;
}

header {
  margin-bottom: 70px;
}

.logo-link {
  display: inline-block;
}

.logo {
  display: block;
  width: 127px;
  height: 22px;
}

.nav {
  float: right;
  display: block;
}

.nav-link {
  margin-left: 60px;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: #121212;
  text-decoration: none;
}

.nav-link:last-child {
  padding-right: 0;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  opacity: 0.5;
  color: #000000;
}

.nav-link:last-child {
  margin-right: 0;
}

.interior,
.about-us,
.projects,
.contacts {
  margin-bottom: 150px;
}

.container {
  margin: 0 auto;
  padding-right: 125px;
  padding-left: 125px;
  width: 1400px;
}

.interior__title,
.about-us__title,
.projects__title,
.services__title,
.contacts__title,
.project__title,
.service__title,
.picture__text,
.interior__text,
.about-us__description,
.contacts__number,
.contacts__email,
.logo-link,
.nav-link,
.about-us__btn,
.project__link,
.box,
.footer-text {
  letter-spacing: -0.03em;
}

.interior__title {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 956px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}

.interior__backround {
  position: relative;
  width: 1150px;
  height: 500px;
  background-image: url(../resources/interior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.interior__text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: rgb(255, 255, 255);
}

.about-us__description {
  margin-bottom: 30px;
  width: 1048px;
  height: 366px;
  font-size: 45px;
  line-height: 61px;
}

.about-us__title,
.projects__title,
.services__title,
.contacts__title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.project__title,
.service__title {
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
}

.about-us__btn {
  padding-top: 20px;
  display: block;
  width: 255px;
  height: 67px;
  border: 1px solid #ad1818;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 27px;
  color: white;
  background-color: #ad1818;
  border-radius: 5px;
}

.about-us__btn:hover {
  color: #ad1818;
  background-color: white;
}

.project {
  margin-bottom: 90px;
  width: 1150px;
}

.project__image {
  margin-bottom: 15px;
  display: block;
  width: 1150px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

.project__link {
  padding-top: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
}

.btn-project {
  padding-top: 56px;
  display: block;
  width: 100%;
  height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-align: center;
  line-height: 41px;
  font-size: 30px;
  text-decoration: none;
  color: #ad1818;
}

.btn-project:hover {
  color: #f5f5f5;
  background-color: #ad1818;
}

.services {
  background-color: #121212;
  background-size: 100%;
}

.services-title {
  margin-bottom: 34px;
  padding-top: 150px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
}

.service {
  padding-bottom: 60px;
}

.service:last-child {
  padding-bottom: 150px;
}

.service__image {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.service__title {
  margin-top: 15px;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

.fullWidthImage {
  position: relative;
  height: 717px;
  background-image: url(/module-1/resources/forest-landscape.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.fullWidthImage__text {
  position: absolute;
  bottom: 60px;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

.contacts {
  margin-top: 186px;
}

.contacts__text-wrapper {
  position: relative;
}

.contacts__text-wrapper::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 220px;
  right: 1130px;
  width: 24px;
  height: 24px;
  background-image: url(/module-1/resources/iphone-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__tel {
  margin-bottom: 30px;
}

.contacts__tel-link {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.contacts__tel-link:hover {
  text-decoration: 2px underline;
  text-underline-offset: 10px;
  opacity: 0.5;
  color: #000000;
}

.contacts__email-link {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.contacts__email:hover {
  text-decoration: 2px underline;
  text-underline-offset: 10px;
  opacity: 0.5;
  color: #000000;
}

.footer {
  padding-top: 60px;
  height: 230px;
  background-color: #121212;
  background-size: 100%;
}

.footer-nav {
  margin: auto;
  width: 450px;
}

.footer-nav__link {
  margin-right: 47px;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.footer-nav__link:hover {
  opacity: 0.5;
}

.footer-nav__link:last-child {
  margin-right: 0;
}

.footer-text {
  padding-top: 87px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
  font-size: 20px;
  line-height: 27px;
}
